<!-- <div style="background: yellow" fxLayout="row nowrap" fxFlexFill fxLayoutAlign="end center">
  <div style="background:blue" fxFlex="1 2 200px" fxFlexOrder="2">s</div>
  <div style="background:red" fxFlex="2 1 200px" fxFlexOrder="1">s</div>
</div> -->


<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper>
  <br>
  <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
</div> -->

<!-- <div class="demo-ripple-container" mat-ripple [matRippleCentered]="false" [matRippleDisabled]="false" [matRippleUnbounded]="false"
  [matRippleRadius]="10" [matRippleColor]="'pink'" [matRippleSpeedFactor]="0.5">



</div> -->



<router-outlet></router-outlet>



<!-- <button mat-raised-button color="primary">Hello World！</button>

<div>
  這是一般的ICON顏色
  <mat-icon>person</mat-icon>
</div>

<div>
  這是加上primary顏色的ICON
  <mat-icon color="primary">thumb_up</mat-icon>
</div>

<div>
  這是加上accent顏色的ICON
  <mat-icon color="accent">info</mat-icon>
</div>

<div>
  這是加上warn顏色的ICON
  <mat-icon color="warn">warning</mat-icon>
</div>

<div class="file-upload">
  <span class="text">upload</span>
  <input id="custom-input" type="file" (change)="fileChangeListener($event)">
  <button (click)="show()">show</button>
  <button (click)="upload()">upload</button>
</div>
<img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
<br>
<span class="result rounded" *ngIf="data.image" >
  <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight" style="border-radius: 50%;">
</span>


<img #defaultImg (load)="setCropperSize(defaultImg.width, defaultImg.height)" style="display:none;"> -->
